aiohttp==3.9.1
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.0
click==8.1.7
coloredlogs==15.0.1
executor==23.2
fasteners==0.19
frozenlist==1.4.1
humanfriendly==10.0
idna==3.4
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.2
panda==0.3.1
pathspec==0.11.2
platformdirs==3.10.0
property-manager==3.0
requests==2.31.0
six==1.16.0
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.5
verboselogs==1.7
yarl==1.9.4
